<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">

          <div *ngIf="songs">
            <div class="row">
              <div class="col-md-4" *ngFor="let song of songs.results">

                <div class="media rounds">
                  <div class="media-left" *ngIf="song.artworkUrl100">
                    <a (click)="info(song)">
                      <img class="media-object" [src]="song.artworkUrl100" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a (click)="info(song)">
                        {{ song.collectionName }}
                      </a>
                    </h4>
                    {{ song.artistName }} <span class="float-right">{{ song.trackPrice }}{{ song.currency }}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
</section>